@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
@*<form method="post">
    <div>
        <label asp-for="Todo.Title"></label>
        <input asp-for="Todo.Title" />
    </div>
    <div>
        <label asp-for="Todo.StartDate"></label>
        <input asp-for="Blog.StartDate" />
    </div>
    <input type="submit" />
</form>*@
<div><h2>Tasks on going:</h2></div>
<section>
    @foreach (var todo in Model.TodoList)
    {
        if (todo.IsDone==false)
        {

    <section class="todoList">

        <h2>@todo.TodoId</h2>
        <p>@todo.Title</p>
        <p>@todo.StartDate</p>
        <p>-</p>
        <p>@todo.FinshDate</p>
        <br />

    </section>
        }

    }

</section>